<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reference.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REFERENCES</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="title">
             <a class="nav-link" href="{% url 'index1' %}">W.E</a>
        </div>
    </nav>
<div class="reference-container">
    <div class="reference-box">

        <p class="title">[ REFERENCES ]</p>

        <!-- 논문  양옆으로 두려고 만든 div -->
        <div class="flex-box">
            <!-- 왼쪽에 있는 논문들 -->
            <div class="box1">
                <p class="sub-title">논문</p>
                <ul>
                    <li>
                        <a href="https://medium.com/@jaykumaran2217/action-recognition-ucf101-using-lstm-and-cnn-cnn-lstm-ef3e55075f90">
                            Human Action Recognition UCF101 using LSTM and CNN | CNN-LSTM
                        </a>
                    </li>
                    <li>
                        <a href="https://arxiv.org/abs/2107.07578">
                            Real-Time Violence Detection Using CNN-LSTM
                        </a>
                    </li>
                    <li>
                        <a href="https://www.cv-foundation.org/openaccess/content_cvpr_2015/html/Ng_Beyond_Short_Snippets_2015_CVPR_paper.html">
                            Beyond Short Snippets: Deep Networks for Video Classification
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@jaykumaran2217/action-recognition-ucf101-using-lstm-and-cnn-cnn-lstm-ef3e55075f90">
                            Human Action Recognition UCF101 using LSTM and CNN | CNN-LSTM
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/pii/S1877050918310652">
                            YOLO based Human Action Recognition and Localization
                        </a>
                    </li>
                    <li>
                        <a href="https://repository.hanyang.ac.kr/handle/20.500.11754/159139">
                            CNN-LSTM 모델을 활용한 실시간 운전자 행위 식별 시스템
                        </a>
                    </li>
                    <li>
                        <a href="https://koreascience.kr/article/JAKO202116739584326.page">
                            LSTM(Long Short-Term Memory)-Based Abnormal Behavior Recognition Using AlphaPose
                        </a>
                    </li>
                    <li>
                        <a href="https://scienceon.kisti.re.kr/commons/util/originalView.do?cn=TRKO202200004958&dbt=TRKO&rn=">
                            객체 탐지 기술을활용한CCTV 이상 행동 탐지기술연구
                        </a>
                    </li>
                    <li>
                        <a href="https://www.riss.kr/search/detail/DetailView.do?p_mat_type=be54d9b8bc7cdb09&control_no=7d75e50e3d8f09abffe0bdc3ef48d419&outLink=K">
                            CNN-LSTM 모델을 활용한 실시간 운전자 행위 식별 시스템 = Real-time driver behavior recognition system using a CNN-LSTM model
                        </a>
                    </li>
                    <li>
                        <a href="https://ieeexplore.ieee.org/document/8978926">
                            Hybrid CNN–LSTM Network for the Classification of Human Activities Based on Micro-Doppler Radar
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 오른쪽에 있는 논문들 -->
            <div class="box2">
                <p class="sub-title">참고 문서 및 Git-Hub</p>
                <ul>
                    <li>
                        <a href="https://docs.ultralytics.com/">
                            Ultralytics YOLOv8 Docs
M
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ultralytics/ultralytics">
                            Ultralytics YOLOv8 GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://developers.google.com/mediapipe/solutions/about#notice(MedaiPipe)">
                            MediaPipe
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
</div>




<div class="about">
    <span>&copy; 2024 W.E Technology</span>
</div>

</body>
</html>
